---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publications</h2>

<ul class="publication-bullets">
  <li>Casanelles-Abella, J., & Egerer, M. (2025). Special Issue–The ecology of future cities. Basic and Applied Ecology. <a href="https://doi.org/10.1016/j.baae.2025.01.002" class="access-link">Access</a></li>
  
  <li>Casanelles-Abella, J., Selva, S., Keller, A., Ruedenauer, F.A., Fournier, B., et al. (2025). Data on the diet and nutrition of urban and rural bumblebees. Scientific Data, 12(1), 286. <a href="https://doi.org/10.1038/s41597-025-04585-w" class="access-link">Access</a></li>
  
  <li>Casanelles‐Abella, J., Pellissier, L., et al. (2024). Urban intensity gradients shape community structure, life‐history traits and performance in a multitrophic system. Insect Conservation and Diversity, 17(2), 243-258. <a href="https://doi.org/10.1111/icad.12728" class="access-link">Access</a></li>
  
  <li>Casanelles‐Abella, J., Fontana, S., Meier, E., Moretti, M., & Fournier, B. (2023). Spatial mismatch between wild bee diversity hotspots and protected areas. Conservation Biology, 37(4), e14082. <a href="https://doi.org/10.1111/cobi.14082" class="access-link">Access</a></li>
  
  <li>Casanelles‐Abella, J., Moretti, M. (2022). Challenging the sustainability of urban beekeeping using evidence from Swiss cities. npj Urban Sustainability, 2, 3. <a href="https://doi.org/10.1038/s42949-021-00046-6" class="access-link">Access</a></li>
  
  <li>Casanelles‐Abella, J., Müller, S., et al. (2022). How wild bees find a way in European cities: Pollen metabarcoding unravels multiple feeding strategies and their effects on distribution patterns in four wild bee species. Journal of Applied Ecology, 59(2), 457-470. <a href="https://doi.org/10.1111/1365-2664.14063" class="access-link">Access</a></li>

  <li>Casanelles‐Abella, J., Chauvier, Y., et al. (2021). Applying predictive models to study the ecological properties of urban ecosystems: A case study in Zürich, Switzerland. Landscape and Urban Planning, 214, 104137 <a href="https://doi.org/10.1016/j.landurbplan.2021.104137" class="access-link">Access</a></li>

</ul>

<h2>All Publications</h2>

<div class="publication-list">
{% for post in site.publications reversed %}
  {% if post.category == 'manuscripts' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
</div>

<style>
.publication-list {
  margin-top: 2em;
}

.publication-list article {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #f2f2f2;
}

.publication-list .archive__item-title {
  margin-top: 0;
  font-size: 1.1em;
}

.publication-list .page__meta {
  margin: 0.5em 0;
  font-size: 0.8em;
  color: #646464;
}

.publication-list .archive__item-excerpt {
  margin-top: 0.5em;
  font-size: 0.9em;
  line-height: 1.5;
}

.publication-bullets {
  margin-bottom: 2em;
  padding-left: 1.5em;
}

.publication-bullets li {
  margin-bottom: 1em;
  line-height: 1.5;
}

.access-link {
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #0366d6;
  text-decoration: none;
  font-size: 0.9em;
}

.access-link:hover {
  background-color: #0366d6;
  color: white;
  text-decoration: none;
}
</style>



